/* Fondo del modal */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Contenido del modal */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
    /* Más estrecho */
    height: 500px;
    /* Más alto */
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content h3 {
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.modal-content button {
    background: #222;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.modal-content button:hover {
    background: #000;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

/* Carrusel dentro del modal */
.carousel-inner img {
    border-radius: 10px;
    height: 220px;
    object-fit: cover;
}

/* Animación entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}